{% extends "base.html" %}{% load static %}
{% block title %}不同类别下出版社发行量Top5{% endblock %}
{% block style %}
    <style>
        a {
            text-decoration: none;
        }

        .category {
            margin-left: 20px;
            font-size: large;
            color: #ff512a;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container" style="padding-top: 100px; padding-left: 20px">
        <div>
            <a href="{% url 'system:chart2' %}">
                <span class="category">刷新</span>
            </a>
            {% for item in categories %}
                <a href="{% url 'system:chart2' %}?category={{ item.category }}">
                    <span class="category">{{ item.category }}</span>
                </a>
            {% endfor %}
        </div>
        {% if category %}
            <div id="chart" style="height: 800px;padding-top: 100px;"></div>
        {% endif %}
    </div>
{% endblock %}
{% block script %}
    <script>
        var data =
        {{ data|safe }}
        var Chart = echarts.init(document.getElementById('chart'));
        option = {
    title: {
        text: '',
        subtext: '',
        left: 'center'
    },
    tooltip: {
        trigger: 'item',
        formatter: '{a} <br/>{b}: {c} ({d}%)'
    },
    legend: {
        orient: 'vertical',
        left: 'right',
        data: data.x_data
    },
    series: [
        {
            name: '出版社',
            type: 'pie',
            radius: ['50%', '70%'],
            avoidLabelOverlap: false,
            label: {
                show: false,
                position: 'center'
            },
            emphasis: {
                label: {
                    show: true,
                    fontSize: '30',
                    fontWeight: 'bold'
                }
            },
            labelLine: {
                show: false
            },
            data: data.y_data,
            itemStyle: {
                normal: {
                    color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                            offset: 0,
                            color: '#ffa1df'
                        },
                        {
                            offset: 1,
                            color: '#ff00cc'
                        }
                    ]),
                    shadowBlur: 200,
                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                }
            }
        }
    ]
};
        Chart.setOption(option);
    </script>
{% endblock %}